.main-container {
  @apply 
  overflow-auto 
  mt-16;
}

.home-container {
  @apply ml-0;
}

.transitionHover {
  @apply transition duration-500;
}

.characters-cards-container {
  @apply self-center 
  h-screen 
  justify-items-center
  grid 
  sm:grid-cols-1 
  md:grid-cols-2 
  lg:grid-cols-3 
  xl:grid-cols-4;
}

.character-card-container {
  @apply max-w-xs 
  my-2 
  mr-4
  overflow-hidden 
  shadow-md 
  rounded-md 
  box-border border 
  border-blue-300 
  bg-white 
  group;
}
.character-card-image {
  @apply w-full 
  transform-none;
}

.character-card-body {
  @apply px-6 py-4;
}

.character-card-header {
  @apply flex 
  justify-between 
  items-start  
  mb-2 
  capitalize;
}

.character-card-main {
  @apply flex 
  flex-col 
  capitalize 
  font-light
  text-sm 
  md:text-base;
}

.pagination-container {
  @apply flex 
  flex-row  
  w-auto 
  self-center 
  justify-center 
  mt-4 
  mr-4 
  font-bold 
  text-xl 
  rounded-lg
  bg-gray-100 
  text-blue-logo 
}

.pagination-page {
  cursor: pointer;
  @apply ml-1 
  px-2 
  transition duration-300 ease-in 
  rounded-full
  hover:text-gray-900 
  hover:bg-gray-200;
}

.pagination-break{
  cursor: pointer;
}

.pagination-active-btn {
  cursor: pointer;
  @apply transition duration-300 ease-in 
  text-gray-900 
  bg-gray-300;

}

.pagination-navigation-btn {
  cursor: pointer;
  @apply transition duration-300 ease-in 
  flex 
  items-center 
  px-2 
  text-base  
  border-r 
  border-gray-300 
  hover:text-gray-900;
}
