@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Get Schwifty";
  src: local("Get Schwifty") url(../assets/fonts/get_schwifty.ttf) format("ttf");
}

@layer utilities {

  .scrollbar::-webkit-scrollbar{
    ::-webkit-appearance: none;
      background-color: #ccc;
  }

  .scrollbar::-webkit-scrollbar:vertical {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar:horizontal{
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #797979;
      border-radius: 20px;
  }
}
